<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Activation</title>
  </head>
  <body>
    <div
      style="
        font-family: Helvetica, Arial, sans-serif;
        font-size: 18px;
        margin: 0;
        color: black;
        text-align: center;
      "
    >
      <p>Hi {name}!</p>
      <p>Please click on the below link to activate your account:</p>
      <br />
      <p>
        <a
          href="{link}"
          style="
            font-size: 21px;
            font-weight: bold;
            color: white;
            background-color: #1a82e2;
            padding: 15px 30px;
            border-radius: 6px;
          "
          >Activate Now</a
        >
      </p>
      <br />
      <p>Link will expire in 30 minutes.</p>
    </div>
  </body>
</html>
