<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm your email</title>
  </head>
  <body>
    <div
      style="
        font-family: Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
      "
    >
      <p>Hi {name}!</p>
      <p style="padding-bottom: 15px">
        If you want to activate your account, click:
      </p>
      <p>
        <a
          href="{link}"
          style="
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: green;
            padding: 15px 25px;
            border-radius: 5px;
            text-decoration: none;
          "
          >ACTIVATE</a
        >
      </p>
      <br />
      <p>The token will expire in 30 minutes.</p>
      <p>You can request the next confirmation email in “Your profile”.</p>
    </div>
  </body>
</html>
