<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgotten password</title>
  </head>
  <body>
    <div
      style="
        font-family: Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
      "
    >
      <p>Hi {name}!</p>
      <div style="padding-bottom: 15px">
        <p>
          Someone initiated the process of resetting the forgotten password for
          the account assigned to Your email address.
        </p>
        <p>If it wasn't You, disregard this message.</p>
        <p>If You want to reset Your password, click:</p>
      </div>
      <p>
        <a
          href="{link}"
          style="
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: blue;
            padding: 15px 25px;
            border-radius: 5px;
            text-decoration: none;
          "
          >RESET PASSWORD</a
        >
      </p>
      <br />
      <p>You have 30 minutes for this operation.</p>
    </div>
  </body>
</html>
